
.owners-container {
    margin: 2%;
    /* background-color: aqua; */
}

.owners-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}


/* Form */
.owners-form {
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 2rem;
    padding: 1rem;
}

.owners-form-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
}

.owners-form-flex > label {
    display: flex;
    width: 30%;
    justify-content: space-between;
    padding: 0.2rem;
}


.owners-form-flex > label > span {
    font-size: larger;
}

.owners-form-flex > label > input:disabled {
    background-color: lightgray;
}

.owners-form-flex > label > input {
    border: 1px solid black;
    border-radius: 5px;
}

.owners-form-actions > button {
    background-color: lightblue;
    padding: 0.6rem 0.8rem;
    border-radius: 10px;

    transition: all 250ms;
}

.owners-form-actions > button:hover {
    background-color: lightskyblue;
    
}


/* Table */
table {
    width: 100%;
    border: 4px solid black;
    border-collapse: collapse;
    background: white;
}

th,
td {
    border: 1px solid black;
    padding: 0.65rem 0.5rem;
    text-align: left;
}
