/* 
app.css
Persistent React styling ONLY
*/

/* Top navigation styling */

.topnav-container {
    width: fit-content;
    height: 100vh;
}

.topnav {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    padding: 1rem;
    
    background-color: wheat;
    height: calc(100vh - 2rem);
}

.topnav > .toplink {
    text-decoration: none;
    color: black;

}