/* 
app.css
Persistent React styling ONLY
*/
@import url(/src/constants.css);

.topnav {
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    padding: 1rem;

    flex-direction: column;
    width: fit-content;
    height: calc(100vh - 2rem);
}

.topnav > .toplink {
    text-decoration: none;
    color: black;
    font-family: inter;
    /* custom font */
    padding: 0.4rem;
    border-radius: 2rem;
    border: 2px solid white;

    transition: border-color 250ms ease-in;
}

.topnav > .toplink:hover {
    border-color: black;
}

.content-container {
    background-color: var(--content-background);
}