:root {
    --content-background: #EFF0F2;

    --accent-dark: #ae80ce;
    --accent-light: #FCE5FC;

}

@font-face {
    font-family: inter;
    src: url(/src/fonts/inter/Inter-VariableFont_opsz\,wght.ttf);
}